body {
    margin: 15px;
}
.principal {
    border: 2px solid black;
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    display: inline-block;
}
.logo {
    margin: 15px;
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    text-align: center;
}

.menu {
    margin: 15px;
    display: inline-block;
    border: 2px solid black;
    width: 75%;
    box-sizing: border-box;
}

.inicio, .entradas, .contacto {
    margin: 1%;
    padding: 2%;
    display: inline-block;
    border: 2px solid black;
    width: 25%;
    box-align: center;
    text-align: center;
} 

.descripcion {
    width: 100%;
    border: 2px solid black;
}
.imagen {
    position:relative;
    left: 30%;
    padding: 30px;
    width: 50%;
}
.imagen img{
    
}
.textoDescripcion {
    position:relative;
    left: 30%;
    padding: 10px;
    width: 50%;
    /*border: 2px solid black;*/
}

.bloqueInformacion {
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

.informacion {
    margin:0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    width: 49%;
}
.texto {
    margin:0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    width: 50%;
}

.masTexto {
    border: 2px solid black;
    padding: 2%;
}
.footer {
    width: 100%;
    border: 2px solid black;
    text-align: left;
}

@media (max-width: 600px) {
        .header {
        display: block;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .logo {
        margin: 0;
        display: block;
        border: 2px solid black;
        width: 100%;
    }

    .menu {
        padding-right: 5px;
        margin:0;
        display: block;
        border: 2px solid black;
        width: 100%;
        box-sizing: border-box;
    }

    .inicio, .entradas, .contacto {
        margin: 1%;
        padding: 2%;
        display: inline-block;
        border: 2px solid black;
        width: 25%;
        box-align: center;
        text-align: center;
    }

    .descripcion {
    border: 2px solid black;
    box-sizing: border-box;
    }
    .imagen {
        display: block;
        box-sizing: border-box;
        width: 50%;
        border: 2px solid black;
    }
    .textoDescripcion {
        display: block;
        box-sizing: border-box;

        width: 50%;
        /*border: 2px solid black;*/
    }
}

@media (prefers-color-scheme: dark) {
    * {
        background-color: grey;
        color: white;
    }
}



